header{

    #navbar{
        background-color: $color-header;
        top: 0;
        width: 100%;
        padding: 1rem 5rem;
        display: flex;;
        justify-content: end;
        border-bottom: solid 0.15rem #000000;
        position: fixed;
        z-index: 1000;
    
        #nav-list{
            display: flex;
            list-style: none;
            margin: 0;

            .nav-item{
                padding: 1rem;
                font-size: 1.7rem;

                a{
                    text-decoration: none;
                    color: #fff;
                    font-weight: bold;
                    transition: all 0.5s ease-in-out;
                    display: inline-block;

                    &:hover{
                        transform: scale(3);
                    }
                }
            }
        }
    }
}
// arreglar el hover de los links del navbar