header{
    background-color: $color-header;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 1rem;
    display: flex;;
    justify-content: end;

    #nav-list{
        display: flex;
        list-style: none;

        .nav-item{
            padding: 1rem;
            font-size: 1.4rem;

            a{
                text-decoration: none;
                color: white;
                font-weight: bold;

                &:hover{
                    font-size: 1.6rem;
                    transition: all 0.5s ease-in-out;
                }
            }
        }
    }
}